<h1> WIN SCRATCH TICKETS! </h1><h2>...in Vermont</h2>
<h2> This will slightly increase your odds of winning scratch tickets by showing you the 
  ratio of available money left in each game to the number of tickets remaining, normalized for
  price of the ticket. </h2>

<script type=text/javascript async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- mgad -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-4158000969487696"
     data-ad-slot="8252482526"></ins>
<script type=text/javascript>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

</select>
<table class="table table-striped table-bordered table-condensed">                         
  <tr>                          
    <th><%= sortable "price"%></th>
    <th>Game ID</th>
    <th><%= sortable "name" %></th>
    <th><%= sortable "sold", "% Sold" %></th>
    <th><%= sortable "outstanding", "Winnings Remaining" %></th>
    <th><%=  sortable "numtix" "Total Number of Tix"%></th>
    <th><%= sortable("ratio", "Winnings Remaining/[Tix Remaining * Price]") %></th>
  </tr>
<% @tix.each do |t| %>       
  <tr>
    <td><%= number_to_currency(t.price, :unit => "&dollar;")%></td><td><%= t.gid %></td> 
    <td><%= t.name %></td>  
    <td><%= number_to_percentage(t.sold, precision: 0) %></td> 
    <td><%= number_to_currency(t.outstanding, :unit => "&dollar;")%></td>  
    <td><%= number_with_delimiter(t.numtix)%></td> 
    <td><%= t.ratio %></td>  
  </tr>
<% end %>                        
</table>     